{% extends 'base.html' %}

{% block head %}
<title>Dojo Survey</title>
{% endblock %}

{% block body %}
<div class="inputDiv">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2 class="inputHeader">Dojo Survey</h2>
    <form action="/save" method="post" class="formDiv">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="txtInput">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" class="txtInput">
        <label for="language">Select a Favorite Language</label>
        <select name="language" id="language" class="slctInput">
            <option value=""></option>
            <option value="HTML">HTML</option>
            <option value="CSS">CSS</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Python">Python</option>
            <option value="C#">C#</option>
            <option value="Java">Java</option>
        </select>
        <label for="comments">Comments:</label>
        <textarea name="comments" id="comments" cols="30" rows="10" class="cmmntInput"></textarea>
        <input type="submit" name="submitInput" id="submitInput" class="submitBttn">
    </form>
</div>
{% endblock %}